.macro-active td{
    background-color: #fccaca;
}
.nav-tabs .nav-item .nav-link {
    background-color: #0080FF;
    color: #FFF;
}
  
.nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background-color: #0091ff;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: transparent;
    padding: 15px;
}

.tab-content .tab-pane {
    background-color: #FFF;
    color: #000000;
    min-height: 200px;
    height: auto;
}
table.table-bordered {
    border: 1px solid #454444;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid #454444;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid #454444;
}